// generated version: {{ .AppVersion }}

package {{ .Package }}

import (
	"context"

	"github.com/labstack/echo/v4"
)

// {{ .ControllerName }} ...
type {{ .ControllerName }} struct {
}

// New{{ .ControllerName }} ...
func New{{ .ControllerName }}() *{{ .ControllerName }} {
	{{ .ControllerNameInitial }} := &{{ .ControllerName }}{}
	return {{ .ControllerNameInitial }}
}


// {{ .HandlerName }} ...
// @Summary WIP
// @Description WIP
// @Accept json
// @Produce json{{range $p := .RequestParams }}
// @Param {{ $p.Name }} {{ $p.Type }} {{ $p.DataType }} WIP:${isRequire} WIP:${description}{{ end }}
// @Success 200 {object} {{ .ResponseStructName }}
// @Failure 400 {object} WIP
// @Router {{ .RawEndpointPath }} [{{ .HTTPMethod }}]
func ({{ .ControllerNameInitial }} *{{ .ControllerName }}) {{ .HandlerName }}(
	ctx context.Context, c echo.Context, req *{{ .RequestStructName }},
) (res *{{ .ResponseStructName }}, err error) {
	panic("require implements.")
}
