package {{ .Package }}

import (
	"context"

	"github.com/labstack/echo/v4"
)

type {{ .ControllerName }} struct {
}

func New{{ .ControllerName }}() *{{ .ControllerName }} {
	{{ .ControllerNameInitial }} := &{{ .ControllerName }}{}
	return {{ .ControllerNameInitial }}
}


func ({{ .ControllerNameInitial }} *{{ .ControllerName }}) {{ .HandlerName }}(ctx context.Context,
	c echo.Context,
	req *{{ .RequestStructName }}) (
	res *{{ .ResponseStructName }},
	err error) {
	panic("require implements.")
}