# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

.idea/
vendor/
*.iml

mock_repo_gen.go
mock_*_repo.go

proto/pubsub/copied_firestore/*
!proto/pubsub/copied_firestore/.gitkeep

infra/pubsub/**/copied_firestore/

bin/

.DS_Store

.go-version