name: Go

on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:
    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
      id: go
    
    - uses: actions/checkout@v2

    - uses: actions/cache@v2.1.7
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Run tests
      run: |
        make bootstrap
        make test

  e2e:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on

    steps:
    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
      id: go
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: nanasess/setup-chromedriver@v1
    - uses: actions/checkout@v2

    - uses: actions/cache@v2.1.7
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Run E2E tests
      run: |
        make bootstrap
        make e2e       

    - name: Ensure samples are generated
      env:
        TZ: Asia/Tokyo
      run: |
        make gen_samples
        
        clean=$(git status | grep "nothing to commit" || true)
        if [ -z "$clean" ]; then
          git diff
          echo 'Please run "make gen_samples"'
          exit 1
        fi
