name: release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Run GoReleaser for client_generator
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
          workdir: client_generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser for server_generator
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
          workdir: server_generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run GoReleaser for api_gen
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
          workdir: cmd
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
