name: release
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
      - name: Run GoReleaser for client_generator
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
          workdir: client_generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run GoReleaser for server_generator
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release --rm-dist
          workdir: server_generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
